<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
	<title>Registration</title>
 

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
  
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">
	
</head>


        <body>
   
   <nav class="navbar navbar-expand-lg navbar-dark bg-Dark">
  <a class="navbar-brand" href="#">SmartContactManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="signin" tabindex="-1" aria-disabled="true">Login</a>
      </li>
       </ul>
     </div>
  
   
     
     
     
</nav>



  <div class="container">
     	<div class="d-flex justify-content-center h-100">
	     	<div class="card">
		     	<div class="card-header">
			<p>          Nehal          </p>
		
			  <h3 class="text-center "  >Register Here</h3>
			  
				<div class="d-flex justify-content-end social_icon">
				    	
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				
				</div>
			</div> 
			
			         <div class="card-body">
	
			 	<form action="action" method="post" th:object="${user}">
			 	
			 
			 	
			 	<div  th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-success">
                     <p th:text="${session.message.content}"/> 
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
             
               </div>
				
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						
						<input type="text" class="form-control  is-valid" 
						
						placeholder="Name" 
						name="name" required>
						
						 
					</div>
					
					
					 
					
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class=" fab fa-google-plus-square"></i></span>
						</div>
						<input type="email" class="form-control" placeholder="Email" name="email"  required >
						
					</div>
					
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" name="password"  required>
					</div>
					
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fab fa-twitter-square"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Tell About yourself" style="height:100px" name="about">
						
					</div>
					
					
					
					
					<div class="row align-items-center remember">
						<input type="checkbox"  required>Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Sign Up" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="signup">Sign Up</a>
				</div>
				
				</div>
			</div>
		</div>
	</div>

</body>
</html>